.formcontacto {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px;color:$shadow;
    padding: 20px;
    align-items: center;
    
    label {
        display: block;
        margin-bottom: 8px;
        color: black;
        font-weight: bold;
  
    }
  
    input, select {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }}
    .cajita{display: inline-block;
        width: 300px;
        height: 400px;
        background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        border:1px solid rgb(13, 123, 202);
        border-radius: 15px;
        padding:50px 20px;
        padding: 10px 20px 30px 40px;
        padding-top:50px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right:20px;
        margin:20px;
        text-align: center;
    }
    .box h2{
        text-transform: uppercase;
        color: aliceblue;
      }
      
      .box .content{
        margin: 20px 0 0 0;
        position: relative;
      }
      .box .content:before{
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
        background: #1a1a1a;
      }
      .box .content:after{
        position: absolute;
        content: '';
        height: 2px;
        width: 15%;
        background: #ac08c2;
        top: -10px;
      }

        .contenedor2{column-count: 1;
          text-align: right;
          padding: 40px;}

          .main-content{
            display: flex;
          }
          .main-content .box{
            flex-basis: 50%;
            padding: 10px 20px;
          }
          .contenedortitulo{padding-left: 20px;
            padding-right: 20px;}
           .columna{padding: 20px;}
      .column2{column-count: 2;padding: 0 0 0 0;display: flex;}
      .contenedor{column-count: 1;
      width: 50%;
    padding-left: 25%;}
      
          .columnacentrada{align-items: center;
            vertical-align: center;
            padding: 20px;
            column-count: 1;}
            .boton {
              display: inline-block;
              padding: 10px 20px;
              border-radius: 30px;
              background: linear-gradient(to right, #51a9d5, #cd7897);
              color: #fff;
              font-size: 16px;
              font-weight: bold;
              text-decoration: none;
              text-align: center;
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
              transition: all 0.3s ease;
            }
            
            .boton:hover {
              transform: translateY(-2px);
              box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
            }
            
            .centrado{ align-content: center;
              padding-left: 25%;
            }
            .centrado-trabajos{ align-content: center; padding: 0 0 0 20px;
              padding-left: 250px;
            
            }
            .centrado-contactos{ align-content: center; padding: 0 0 0 20px;
              padding-left:100px;
            }
            .iframe{
              width: 600px;
              height: 300px;
            }
            
            @media screen and (max-width: 700px) {
            .centrado{align-items: center;
            padding:0 0 0 0;text-align: center;}
            .centrado-trabajos {
              text-align: center;padding: 0 0 0 30px;
            }
              .centrado-contactos{align-items: center;
                padding:0 0 0 0;text-align: center;}

            .iframe{
              width: 300px;
              height: 300px;
            }
            .formcontacto {
              width: 600px;
              margin: 50px auto;
              background-color: #fff;
              border-radius: 8px;
              box-shadow: 0 0 10px;color:$shadow;
              padding: 20px;
              label {
                display: block;
                margin-bottom: 8px;
                color: $texto-negro;
                font-weight: bold;
          
            }
          
            input, select {
                width: 100%;
                padding: 8px;
                margin-bottom: 16px;
                box-sizing: border-box;
            }

          }
          .contenedor{column-count: 1;
            width: 80%; padding: 0% 0% 0% 0%;}
        }
          

          


          