.iconos {width: 150px;padding: 20 20 20 20;}
.pdficon{align-items: flex-end;padding-bottom: 20px;}
.pdficono{width: 70px; text-align: righ}
.logoprincipal {
    width: 600px;
    padding: 0 0 0 0;
}

.marcas{
    width: 300px;
    height: 200px;
   
  }

.imgmarcas{
    box-shadow: 5px 5px 10px rgba(161, 26, 195, 0.5);
    padding: 10px 10px 10px 10px;
    width: 300px;
    height: 300px;
}
.contendoranimado{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border: 2px solid black;
}
.retrato{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in;
&:hover{transform:scale(2s)};}

.logofooter {width: 100px;margin-left: 20px;}

@media screen and (max-width: 700px) {
    .iconos {width: 20px;
        justify-items: center;
    }
    .imgmarcas{
        box-shadow: 5px 5px 10px rgba(161, 26, 195, 0.5);
        padding: 10px 10px 10px 10px;
        width: 250px;
        height: 250px;
        align-items: center;
    }}
