@mixin estiloBoton($border, $bg-color, $width, $height, $color, $text-decoration, $bg-color-hover, $transition){
    border: $border;
    background-color: $bg-color;
    width: $width;
    height: $height;
    color: $color;
    text-decoration: $text-decoration;
    &:hover{
        background-color: $bg-color-hover;
        transition: $transition;
    }
}

@mixin linksIndex($height, $bg-color, $border, $width){
    height: $height;
    background-color: $bg-color;
    border: $border;
    width: $width;
}